body {
    margin: 0;
    background-color: #F7F7F7;
}

* {
    font-family: sans-serif;
}

.task {
    color: #424242;
}

header {
    background-color: #FFFFFF;
    padding: 27px 137px;
    font-size: 38px;
    font-weight: 600;

}

.list {
    color: #00A5EC;
}